{% extends 'base_detail.html' %} {% block content %}

<!-- Start Blog
    ============================================= -->
    <div class="blog-area full-blog blog-standard full-blog default-padding">
      <div class="container">
          <div class="row">
              <div class="blog-items">
                  <div class="blog-content col-md-10 col-md-offset-1">
                      <div class="content-items">
                          <!-- Single Item -->
                          <div class="single-item">
                              <div class="item">
                                  <div class="info">

                                      <div class="content">
                                          <p>
                                            {{ blog_obj.body | safe}}
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Blog Items -->
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Blog -->

{% include 'include/newsletter.html' %} {% endblock %}
