<div
  class="banner-area shadow bg-fixed dark text-center text-light"
  style="background-image: url(assets/img/2440x1578.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="box-table">
          <div class="box-cell">
            <div class="content search-content">
              <h2>Growth You Career With Complate Courses</h2>
              <ul>
                <li><i class="fas fa-drafting-compass"></i> Architecture</li>
                <li><i class="fas fa-book"></i> Education</li>
                <li><i class="fas fa-globe-asia"></i> Geography</li>
              </ul>
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <form action="#">
                    <input
                      type="text"
                      placeholder="Enter course name"
                      class="form-control"
                      name="text"
                    />
                    <button type="submit">
                      <i class="ti-search"></i> Search
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
