<div
  class="container">
  <div class="f-items default-padding">
    <div class="row">
      <!-- Single item -->
      <div class="col-md-4 col-sm-6 item equal-height">
        <div class="f-item about">
          <h4>MINISTÈRE DE L'ECONOMIE, DU PLAN ET DU DÉVELOPPEMENT</h4>
          <p>
            Abidjan-Plateau Immeuble SCIAM, 16e étage, BP V 165 Abidjan.
            <br />
            Tél : (+225) 27 20 20 08 42
            <br />
            Tél : (+225) 27 20 20 08 26
          </p>
          <h4>DIRECTION GÉNÉRALE DE L'ECONOMIE</h4>
          <p>
            Abidjan-Plateau Immeuble SCIAM, 6e étage.
            <br />
            Tél : (+225) 27 20 20 09 09
            <br />
            Tél : (+225) 27 20 20 09 03
          </p>
          <ul>
            <li>
              <p>
                Email
                <span
                  ><a href="mailto:info@example.com"
                    >info@economie-ivoirienne.ci</a
                  ></span
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Single item -->

      <!-- Single item
      <div class="col-md-2 col-sm-6 item equal-height">
        <div class="f-item link">
          <h4>ANNUAIRE DES SERVICES</h4>
        </div>
      </div>
       -->
      <!-- End Single item -->

      <!-- Single item -->
      <div class="col-md-3 col-sm-6 item equal-height">
        <div class="f-item link">
          <h4>Liens utiles</h4>
          <ul>
            <li>
              <a href="#"
                ><i class="ti-angle-right"></i> https://finances.gouv.ci
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="ti-angle-right"></i> https://www.dge.gouv.ci
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="ti-angle-right"></i> https://budget.gouv.ci
              </a>
            </li>
            <li>
              <a href="#"
                ><i class="ti-angle-right"></i> https://www.cepici.ci
              </a>
            </li>
            <li>
              <a href="#"><i class="ti-angle-right"></i> https://www.cci.ci </a>
            </li>
            <li>
              <a href="#"><i class="ti-angle-right"></i> https://www.ins.ci </a>
            </li>
            <li>
              <a href="#"
                ><i class="ti-angle-right"></i> https://www.tresor.gouv.ci
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Single item -->

      <!-- Single item -->
      <div class="col-md-5 col-sm-6 item equal-height">
        <div class="f-item popular-courses">
          <h4>ACTIVITÉS DU MARCHÉ BOURSIER</h4>
        </div>
      </div>
      <!-- End Single item -->
    </div>
  </div>
</div>
<!-- Start Footer Bottom -->
<div class="footer-bottom" style="margin-top: -100px">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
          &copy; Copyright 2024. Portail d'Informations et de Promotion de
          l'Economie de Côte d'Ivoire
        </p>
      </div>
      <!--
      <div class="col-md-6 text-right link">
        <ul>
          <li>
            <a href="#">Terms of user</a>
          </li>
          <li>
            <a href="#">License</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
        </ul>
      </div>
      -->
    </div>
  </div>
</div>
