{% load static %}
<!-- Start Navigation -->
<nav class="navbar navbar-default logo-less small-pad navbar-sticky bootsnav">
  <!-- Start Top Search -->
  <div class="container">
    <div class="row">
      <div class="top-search">
        <div class="input-group">
          <form action="#">
            <input
              type="text"
              name="text"
              class="form-control"
              placeholder="Search"
            />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <div class="container">
    <!-- Start Atribute Navigation 
              <div class="attr-nav inc-btn">
                  <ul>
                      <li>
                          <a href="#">Register</a>
                      </li>
                      <li>
                          <a href="#">Login</a>
                      </li>
                  </ul>
              </div>  
              -->
    <!-- End Atribute Navigation -->

    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navbar-menu"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo" />
      </a>
    </div>
    <!-- End Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-left" data-in="" data-out="#">
        <li>
          <a
            href="{% url 'index' %}"
            class="dropdown-toggle"
            data-toggle="dropdown"
            ><i class="fa fa-home"></i
          ></a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"
            >Côte d'Ivoire en Bref</a
          >
          <ul class="dropdown-menu">
            <li><a href="">Présentation du pays</a></li>
            <li><a href="">Position géostratégique</a></li>
            <li><a href="">Vie politique et administrative</a></li>
            <li><a href="">Caractéristiques socio-économiques</a></li>
            <li><a href="">Atouts et potentialités</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Intégration régionale</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Indicateurs UEMOA/CEDEAO</a></li>
                <li>
                  <a href="">La Côte d'Ivoire dans l'UEMOA</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Coopération économique</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Coopération Technique</a></li>
                <li>
                  <a href="">Coopération financière</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Carte diplomatique</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Cadre macroéconomique</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Secteur réel</a
              >
              <ul class="dropdown-menu">
                <li><a href="">PIB offre</a></li>
                <li>
                  <a href="">PIB demande</a>
                </li>
                <li>
                  <a href="">Inflation</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Finances publiques</a
              >
              <ul class="dropdown-menu">
                <li><a href="">politique budgétaire</a></li>
                <li>
                  <a href="">Recettes totales et dons</a>
                </li>
                <li>
                  <a href="">Dépenses totales et prêts nets</a>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown"
                    >Financement / Dette</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <a href="">Politique et stratégie d'endettemment</a>
                    </li>
                    <li>
                      <a href="">Statistiques</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown"
                    >Notation financière</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <a href="">Notation en devise</a>
                    </li>
                    <li>
                      <a href="">Notation en monnaie locale</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="">Services extérieurs</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Secteur monétaitre</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Politique monétaire</a></li>
                <li>
                  <a href="">Statistiques monétaires</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Activités sectorielles</a
          >
          <ul class="dropdown-menu">
            <li><a href="advisor-carousel.html">Advisor Carousel</a></li>
            <li><a href="advisor-grid.html">Advisor Grid</a></li>
            <li><a href="advisor-details.html">Advisor Details</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Investissements</a
          >
          <ul class="dropdown-menu">
            <li><a href="">Environnement des affaires</a></li>
            <li><a href="">Code des investissements</a></li>
            <li><a href="">Codes sectoriels</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Opportunités</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Projets privés</a></li>
                <li>
                  <a href="">Projets PPP</a>
                </li>
              </ul>
            </li>
            <li><a href="">Statistiques</a></li>
          </ul>
        </li>

        <li>
          <a href="">Pôles compétitifs</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            >Banques et finances</a
          >

          <ul class="dropdown-menu">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Banques</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Présentation</a></li>
                <li>
                  <a href="">Indicateurs</a>
                </li>
                <li>
                  <a href="">Reglement de change</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Microfinance</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Présentation</a></li>
                <li>
                  <a href="">Microfinance indicators</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"
                >Assurances</a
              >
              <ul class="dropdown-menu">
                <li><a href="">Présentation</a></li>
                <li>
                  <a href="">Indicateurs</a>
                </li>
              </ul>
            </li>
            <li><a href="">Inclusion financière</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">BRVM</a>
              <ul class="dropdown-menu">
                <li><a href="">Présentation</a></li>
                <li>
                  <a href="">Performance</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- End Navigation -->
