<div class="sidebar col-md-4">
  <aside>
    <div class="sidebar-item search">
      <!--
        <div class="title">
          <h4>Search</h4>
        </div>
        -->
      <div class="sidebar-info">
        <form>
          <input type="text" class="form-control" />
          <input type="submit" value="Recherche" />
        </form>
      </div>
    </div>
    <div class="sidebar-item recent-post">
      <!--
        <div class="title">
          <h4>Recent Post</h4>
        </div>
        -->
      <ul>
        {% for a in similar_posts %}
        <li>
          <div class="thumb">
            <a href="{% url 'actualite_detail' a.slug %}">
              <img src="{{ a.image.url }}" alt="Thumb" />
            </a>
          </div>
          <div class="info">
            <a href="{% url 'actualite_detail' a.slug %}">{{a.title}}</a>
            <div class="meta-title">
              <span class="post-date">{{ a.date_added }}</span>
              <!--
                - By
                <a href="#">Author</a>
                -->
            </div>
          </div>
        </li>
        {% empty %} {% endfor %}
      </ul>
    </div>
  </aside>
</div>
