{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-2 logo-box">
      <div class="logo">
        <a href="{% url 'index' %}"
          ><img src="{% static 'assets/img/logo-light.png' %}" alt="Thumb"
        /></a>
      </div>
    </div>
    <div class="col-md-10 address-info text-right">
      <div class="info">
        <ul>
          <li>
            <i class="fas fa-copy"></i>Ministère de l'Economie du Plan et du
            Développement
          </li>
          <li><i class="fas fa-user-shield"></i> A propos de nous</li>
          <li>
            <i class="fas fa-phone"></i>
            <strong>+225 27 20 20 08 42</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
