<div class="container">
  <div class="row">
    <div class="col-md-4 logo-box">
      <div class="logo">
        <a href="index.html"
          ><img src="assets/img/logo-light.png" alt="Thumb"
        /></a>
      </div>
    </div>
    <div class="col-md-8 address-info text-right">
      <div class="info">
        <ul>
          <li>
            <i class="fas fa-copy"></i> Total courses:
            <strong>23400</strong>
          </li>
          <li>
            <i class="fas fa-user-shield"></i> Instructor:
            <strong>655</strong>
          </li>
          <li>
            <i class="fas fa-phone"></i> Help Line:
            <strong>+123 456 7890</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
