{% extends 'base.html' %} {% block content %}
<h1 class="title">{{ blog_obj.title }}</h1>
<p></p>
<p>{{ blog_obj.body | safe}}</p>

{% for tag in publlication.tags.all %}
<h3 class="sidebar__title">{{tag.name}}</h3>
{% endfor %}
<!-- /.sidebar__title -->
<ul class="list-unstyled sidebar__lists">
  {% for publlication in similar_posts %}
  <li>
    <a href="{% url 'publlication_detail' publlication.slug %}"
      >{{publlication.title}}</a
    >
  </li>
  {% empty %} {% endfor %}
</ul>

{% endblock %}
