{% extends 'base_publication.html' %} 
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="site-heading text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2>Publications</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;"><a href=""><b>Conjoncture</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;" ><a href=""><b>Previsions Economiques et Financières</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;"><a href=""><b>Programmes et Politiques</b></a></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;"><a href=""><b>Conjoncture</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;" ><a href=""><b>Previsions Economiques et Financières</b></a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 34rem;">
                <img class="card-img-top" src="{% static 'assets/img/graphe_conjoncture.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <p class="card-text" style="text-align: center; text-transform: uppercase;"><a href=""><b>Programmes et Politiques</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
