{% extends 'base.html' %} {% load static %} {% block content %}
<div class="about-area default-padding">
  <div class="container">
    <div class="row">
      <div class="about-items">
        <div class="col-md-6 about-info">
          <h2>Welcome ! <span>We're Global Education Academy</span></h2>
          <blockquote>
            A man who has never gone to school may steal from a freight car; but
            if he has a university education, he may steal the whole railroad.
          </blockquote>
          <div class="semester-apply">
            <div class="row">
              <div class="col-md-6 col-sm-6 item">
                <h4>Semester Fall 2020</h4>
                <p>
                  Affection additions nay. He no an nature ye talent houses
                  wisdom.
                </p>
                <a class="btn btn-dark effect btn-sm" href="#"
                  ><i class="fas fa-angle-right"></i> Apply Now</a
                >
              </div>
              <div class="col-md-6 col-sm-6 item">
                <h4>Scholarship</h4>
                <p>
                  Northward affection additions nay. He no an nature ye talent
                  houses.
                </p>
                <a class="btn btn-dark effect btn-sm" href="#"
                  ><i class="fas fa-angle-right"></i> Apply Now</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 features text-light">
          <div class="row">
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item mariner">
                <a href="#">
                  <div class="icon">
                    <i class="ti-panel"></i>
                  </div>
                  <div class="info">
                    <h2>12</h2>
                    <h4>Expert faculty</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item brilliantrose">
                <a href="#">
                  <div class="icon">
                    <i class="ti-ruler-pencil"></i>
                  </div>
                  <div class="info">
                    <h2>68</h2>
                    <h4>Best Teachers</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item casablanca">
                <a href="#">
                  <div class="icon">
                    <i class="ti-server"></i>
                  </div>
                  <div class="info">
                    <h2>120</h2>
                    <h4>Online Courses</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item malachite">
                <a href="#">
                  <div class="icon">
                    <i class="ti-desktop"></i>
                  </div>
                  <div class="info">
                    <h2>689</h2>
                    <h4>Scholarship</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Weekly Top
    ============================================= -->
<div
  class="weekly-top-items carousel-shadow default-padding"
  style="margin-top: -150px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="top-courses">
          <div class="heading">
            <h4>Communiqués - <strong>Voir plus...</strong></h4>
          </div>
          <div
            class="top-course-items top-courses-carousel owl-carousel owl-theme"
          >
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
                <div class="overlay">
                  <a href="#">
                    <img
                      src="{% static 'assets/img/100x100.png' %}"
                      alt="Thumb"
                    />
                  </a>
                  <ul>
                    <li><i class="fas fa-clock"></i> 04:15:38</li>
                    <li><i class="fas fa-list-ul"></i> 32</li>
                  </ul>
                </div>
              </div>
              <div class="info">
                <div class="meta">
                  <ul>
                    <li>
                      <a href="#">Education</a>
                      <a href="#">Tech</a>
                    </li>
                    <li>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      <span>(1k)</span>
                    </li>
                  </ul>
                </div>
                <h4>
                  <a href="#">data science and software</a>
                </h4>
                <p>
                  Wisdom praise things she before. Be mother itself vanity
                  favour do me of. Begin sex was power joy after had walls
                  miles.
                </p>
                <div class="footer-meta">
                  <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                  <h4>$23.00</h4>
                </div>
              </div>
            </div>
            <!-- Single Item -->
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
                <div class="overlay">
                  <a href="#">
                    <img
                      src="{% static 'assets/img/100x100.png' %}"
                      alt="Thumb"
                    />
                  </a>
                  <ul>
                    <li><i class="fas fa-clock"></i> 08:27:00</li>
                    <li><i class="fas fa-list-ul"></i> 65</li>
                  </ul>
                </div>
              </div>
              <div class="info">
                <div class="meta">
                  <ul>
                    <li>
                      <a href="#">Illustration</a>
                      <a href="#">Design</a>
                    </li>
                    <li>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <span>(2k)</span>
                    </li>
                  </ul>
                </div>
                <h4>
                  <a href="#">Social Science & Humanities</a>
                </h4>
                <p>
                  Wisdom praise things she before. Be mother itself vanity
                  favour do me of. Begin sex was power joy after had walls
                  miles.
                </p>
                <div class="footer-meta">
                  <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                  <h4>$39.00</h4>
                </div>
              </div>
            </div>
            <!-- Single Item -->
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
                <div class="overlay">
                  <a href="#">
                    <img
                      src="{% static 'assets/img/100x100.png' %}"
                      alt="Thumb"
                    />
                  </a>
                  <ul>
                    <li><i class="fas fa-clock"></i> 04:15:38</li>
                    <li><i class="fas fa-list-ul"></i> 32</li>
                  </ul>
                </div>
              </div>
              <div class="info">
                <div class="meta">
                  <ul>
                    <li>
                      <a href="#">Science</a>
                      <a href="#">Tech</a>
                    </li>
                    <li>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <span>(4.6k)</span>
                    </li>
                  </ul>
                </div>
                <h4>
                  <a href="#">Programming Masterclass</a>
                </h4>
                <p>
                  Wisdom praise things she before. Be mother itself vanity
                  favour do me of. Begin sex was power joy after had walls
                  miles.
                </p>
                <div class="footer-meta">
                  <a class="btn btn-theme effect btn-sm" href="#">Enroll Now</a>
                  <h4>$54.00</h4>
                </div>
              </div>
            </div>
            <!-- Single Item -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="top-author">
          <h4>Agendas</h4>
          <div class="author-items">
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <a href="#">
                  <img
                    src="{% static 'assets/img/100x100.png' %}"
                    alt="Thumb"
                  />
                </a>
              </div>
              <div class="info">
                <h5><a href="#">Professon. Nuri Paul</a></h5>
                <ul>
                  <li>Students enrolled <strong>12k+</strong></li>
                  <li>
                    <span>Rating</span>
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <a href="#">
                  <img
                    src="{% static 'assets/img/100x100.png' %}"
                    alt="Thumb"
                  />
                </a>
              </div>
              <div class="info">
                <h5><a href="#">Dr. Bubly Minu</a></h5>
                <ul>
                  <li>Students enrolled <strong>16k+</strong></li>
                  <li>
                    <span>Rating</span>
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="item">
              <div class="thumb">
                <a href="#"
                  ><img src="{% static 'assets/img/100x100.png' %}" alt="Thumb"
                /></a>
              </div>
              <div class="info">
                <h5><a href="#">Monayem Pruda</a></h5>
                <ul>
                  <li>Students enrolled <strong>23k+</strong></li>
                  <li>
                    <span>Rating</span>
                    <div class="rating">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Single Item -->
            <a href="#">View All <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Weekly Top -->

<div class="blog-area default-padding bottom-less" style="margin-top: -150px">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Flash economiques</h2>
          <p>
            Discourse assurance estimable applauded to so. Him everything
            melancholy uncommonly but solicitude inhabiting projection off.
            Connection stimulated estimating excellence an to impression.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog-items">
        <!-- Single Item -->
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <a href="#">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                  </li>
                  <li><i class="fas fa-calendar-alt"></i> 14 Jun, 2020</li>
                </ul>
              </div>
              <div class="content">
                <div class="tags">
                  <a href="#">Event</a>
                  <a href="#">Education</a>
                </div>
                <h4>
                  <a href="#"
                    >Inquietude assistance precaution any impression man
                    sufficient.</a
                  >
                </h4>
                <p>
                  Resembled at perpetual no believing is otherwise sportsman. Is
                  do he dispatched cultivated travelling astonished.
                </p>
                <a href="#"><i class="fas fa-plus"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <a href="#">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                  </li>
                  <li><i class="fas fa-calendar-alt"></i> 25 Jul, 2020</li>
                </ul>
              </div>
              <div class="content">
                <div class="tags">
                  <a href="#">Learing</a>
                  <a href="#">Geography</a>
                </div>
                <h4>
                  <a href="#"
                    >Discourse ye continued pronounce we Particular use
                    abilities.</a
                  >
                </h4>
                <p>
                  Resembled at perpetual no believing is otherwise sportsman. Is
                  do he dispatched cultivated travelling astonished.
                </p>
                <a href="#"><i class="fas fa-plus"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <a href="#">
                <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                  </li>
                  <li><i class="fas fa-calendar-alt"></i> 18 Sep, 2020</li>
                </ul>
              </div>
              <div class="content">
                <div class="tags">
                  <a href="#">Courses</a>
                  <a href="#">Tech</a>
                </div>
                <h4>
                  <a href="#"
                    >Deficient discourse do newspaper be an eagerness
                    continued.</a
                  >
                </h4>
                <p>
                  Resembled at perpetual no believing is otherwise sportsman. Is
                  do he dispatched cultivated travelling astonished.
                </p>
                <a href="#"><i class="fas fa-plus"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </div>
</div>

<!-- Start Categories 
<div class="category-area default-padding">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Top Categories</h2>
          <p>
            Discourse assurance estimable applauded to so. Him everything
            melancholy uncommonly but solicitude inhabiting projection off.
            Connection stimulated estimating excellence an to impression.
          </p>
        </div>
      </div>
    </div>
    <div class="category-items">
      <div class="row">
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item mariner">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-algorithm"></i>
                </div>
                <div class="info">
                  <h5>Analysis of Algorithms</h5>
                  <p>Current enrolled <strong>1278</strong></p>
                  <span>28 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item java">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-nanotech"></i>
                </div>
                <div class="info">
                  <h5>Computer Science</h5>
                  <p>Current enrolled <strong>9577</strong></p>
                  <span>56 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item malachite">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-data-mining"></i>
                </div>
                <div class="info">
                  <h5>Data Science</h5>
                  <p>Current enrolled <strong>2544</strong></p>
                  <span>29 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item brilliantrose">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-chip"></i>
                </div>
                <div class="info">
                  <h5>Engineering</h5>
                  <p>Current enrolled <strong>6788</strong></p>
                  <span>87 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item casablanca">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-sketch"></i>
                </div>
                <div class="info">
                  <h5>Architecture</h5>
                  <p>Current enrolled <strong>1766</strong></p>
                  <span>39 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item emerald">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-paint-palette"></i>
                </div>
                <div class="info">
                  <h5>Art & Design</h5>
                  <p>Current enrolled <strong>4355</strong></p>
                  <span>36 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- Start Event 
  ============================================= -->
<div class="event-area default-padding" style="margin-top: -150px">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Actualités</h2>
          <p>
            Discourse assurance estimable applauded to so. Him everything
            melancholy uncommonly but solicitude inhabiting projection off.
            Connection stimulated estimating excellence an to impression.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="event-items">
          <!-- Single Item -->
          <div class="item">
            <div
              class="col-md-5 thumb"
              style="background-image: url('/static/assets/img/800x600.png')"
            ></div>
            <div class="col-md-7 info">
              <div class="info-box">
                <div class="date"><strong>16</strong> Apr, 2020</div>
                <div class="content">
                  <h4>
                    <a href="#">Social Science & Humanities</a>
                  </h4>
                  <ul>
                    <li><i class="fas fa-clock"></i> 8:00 - 16:00</li>
                    <li>
                      <i class="fas fa-map-marked-alt"></i> California, TX 70240
                    </li>
                  </ul>
                  <p>
                    Attachment astonished to on appearance imprudence so
                    collecting in excellence. Tiled way blind lived whose new.
                    The for fully had she there leave merit enjoy forth.
                  </p>
                  <div class="bottom">
                    <a href="#" class="btn circle btn-dark border btn-sm">
                      <i class="fas fa-chart-bar"></i> Book Now
                    </a>
                    <a href="#">
                      <i class="fas fa-ticket-alt"></i> 126 Available
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="item">
            <div
              class="col-md-5 thumb"
              style="background-image: url('/static/assets/img/800x600.png')"
            ></div>
            <div class="col-md-7 info">
              <div class="info-box">
                <div class="date"><strong>08</strong> Jul, 2020</div>
                <div class="content">
                  <h4>
                    <a href="#">Secondary Schools United Nations</a>
                  </h4>
                  <ul>
                    <li><i class="fas fa-clock"></i> 10:00 - 14:00</li>
                    <li>
                      <i class="fas fa-map-marked-alt"></i> California, TX 70240
                    </li>
                  </ul>
                  <p>
                    Attachment astonished to on appearance imprudence so
                    collecting in excellence. Tiled way blind lived whose new.
                    The for fully had she there leave merit enjoy forth.
                  </p>
                  <div class="bottom">
                    <a href="#" class="btn circle btn-dark border btn-sm">
                      <i class="fas fa-chart-bar"></i> Book Now
                    </a>
                    <a href="#">
                      <i class="fas fa-ticket-alt"></i> 58 Available
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="item">
            <div
              class="col-md-5 thumb"
              style="background-image: url('/static/assets/img/800x600.png')"
            ></div>
            <div class="col-md-7 info">
              <div class="info-box">
                <div class="date"><strong>19</strong> Aug, 2020</div>
                <div class="content">
                  <h4>
                    <a href="#">International Conference on Art Business</a>
                  </h4>
                  <ul>
                    <li><i class="fas fa-clock"></i> 11:00 - 19:00</li>
                    <li>
                      <i class="fas fa-map-marked-alt"></i> California, TX 70240
                    </li>
                  </ul>
                  <p>
                    Attachment astonished to on appearance imprudence so
                    collecting in excellence. Tiled way blind lived whose new.
                    The for fully had she there leave merit enjoy forth.
                  </p>
                  <div class="bottom">
                    <a href="#" class="btn circle btn-dark border btn-sm">
                      <i class="fas fa-chart-bar"></i> Book Now
                    </a>
                    <a href="#">
                      <i class="fas fa-ticket-alt"></i> 256 Available
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
      <div class="more-btn col-md-12 text-center">
        <a href="#" class="btn btn-theme effect btn-md">View All Events</a>
      </div>
    </div>
  </div>
</div>
<!-- End Event -->

<!-- End Blog -->

<!-- Start Newsletter 
  ============================================= -->
{% include 'include/newsletter.html' %}
<!-- End Newsletter -->

{% endblock %}
