{% extends 'base.html' %} {% load static %} {% block content %}
<div class="about-area default-padding">
  <div class="container">
    <div class="row">
      <div class="about-items">
        <div class="col-md-6 about-info">
          {% for b in biographies %}
          <h3>{{ b.title }}</h3>
          <h4><span>{{ b.intro }}</span></h4>
          <blockquote>{{ b.body | safe | truncatechars:317 }}</blockquote>

          <div class="semester-apply">
            <div class="row">
              <div class="col-md-6 col-sm-6 item">
                <a
                  class="btn btn-dark effect btn-sm"
                  href="{% url 'bio_detail' b.slug %}"
                  ><i class="fas fa-angle-right"></i> Lire la suite...</a
                >
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-6 features text-light">
          <div class="row">
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item mariner">
                <a href="#">
                  <div class="icon">
                    <i class="ti-panel"></i>
                  </div>
                  <div class="info">
                    <h2>12</h2>
                    <h4>Expert faculty</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item brilliantrose">
                <a href="#">
                  <div class="icon">
                    <i class="ti-ruler-pencil"></i>
                  </div>
                  <div class="info">
                    <h2>68</h2>
                    <h4>Best Teachers</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item casablanca">
                <a href="#">
                  <div class="icon">
                    <i class="ti-server"></i>
                  </div>
                  <div class="info">
                    <h2>120</h2>
                    <h4>Online Courses</h4>
                  </div>
                </a>
              </div>
            </div>
            <div class="equal-height col-md-6 col-sm-6">
              <div class="item malachite">
                <a href="#">
                  <div class="icon">
                    <i class="ti-desktop"></i>
                  </div>
                  <div class="info">
                    <h2>689</h2>
                    <h4>Scholarship</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Weekly Top
    ============================================= -->
<div
  class="weekly-top-items carousel-shadow default-padding"
  style="margin-top: -150px"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="top-courses">
          <div class="heading">
            <h4>Communiqués - <strong>Voir plus...</strong></h4>
          </div>
          <div
            class="top-course-items top-courses-carousel owl-carousel owl-theme"
          >
            <!-- Single Item -->
            {% for c in communiques %}
            <div class="item">
              <div class="thumb">
                <img src="{{ c.image.url }}" alt="Thumb" />
                <div class="overlay">
                  '
                  <a href="#">
                    <img src="{{ c.image.url }}" alt="Thumb" />
                  </a>
                </div>
              </div>
              <div class="info">
                <h4 style="text-align: justify">
                  <a href="{% url 'communique_detail' c.slug %}"
                    >{{ c.title | truncatechars:80}}</a
                  >
                </h4>
                <p style="text-align: justify">
                  {{ c.intro | safe |truncatechars:150}}
                </p>
                <!--
                <div class="footer-meta">
                  <a class="btn btn-theme effect btn-sm" href="#"
                    >Lire la suite...</a
                  >
                </div>
                -->
              </div>
            </div>
            {% endfor %}
            <!-- Single Item -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="top-author">
          <h4>Agendas</h4>
          <div class="author-items">
            <!-- Single Item -->
            {% for a in agendas %}
            <div class="item">
              <div class="thumb">
                <a href="#">
                  <img
                    src="{% static 'assets/img/agenda_1.png' %}"
                    alt="Thumb"
                  />
                </a>
              </div>
              <div class="info">
                <h5><a href="#">{{ a.title | truncatechars:50}}</a></h5>
                <ul>
                  <li>{{ a.intro | truncatechars:100 }}</li>
                </ul>
              </div>
            </div>
            {% endfor %}
            <!-- End Single Item -->
            <a href="#"
              >Voir les agendas <i class="fas fa-angle-double-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Weekly Top -->

<div class="blog-area default-padding bottom-less" style="margin-top: -150px">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Actualités</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog-items">
        <!-- Single Item -->
        {% for a in actualites %}
        <div class="col-md-4 single-item">
          <div class="item">
            <div class="thumb">
              <a href="#">
                <img src="{{ a.image.url }}" alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li><i class="fas fa-calendar-alt"></i>{{a.date_added}}</li>
                </ul>
              </div>
              <div class="content">
                <h4 style="text-align: justify">
                  <a href="#">{{a.title | truncatechars:80}}</a>
                </h4>
                <p style="text-align: justify">
                  {{a.intro | truncatechars:255}}
                </p>
                <a href="{% url 'actualite_detail' a.slug %}"
                  ><i class="fas fa-plus"></i>Lire la suite...</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- End Single Item -->
      </div>
    </div>
  </div>
</div>

<div class="category-area default-padding" style="margin-top: -150px">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Flashs économiques</h2>
        </div>
      </div>
    </div>
    <div class="category-items">
      <div class="row">
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item mariner">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-algorithm"></i>
                </div>
                <div class="info">
                  <h5>Analysis of Algorithms</h5>
                  <p>Opening Remarks by Dr. Akinwumi A. Adesina President,</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item java">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-nanotech"></i>
                </div>
                <div class="info">
                  <h5>Computer Science</h5>
                  <p>Current enrolled <strong>9577</strong></p>
                  <span>56 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item malachite">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-data-mining"></i>
                </div>
                <div class="info">
                  <h5>Data Science</h5>
                  <p>Current enrolled <strong>2544</strong></p>
                  <span>29 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item brilliantrose">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-chip"></i>
                </div>
                <div class="info">
                  <h5>Engineering</h5>
                  <p>Current enrolled <strong>6788</strong></p>
                  <span>87 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item casablanca">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-sketch"></i>
                </div>
                <div class="info">
                  <h5>Architecture</h5>
                  <p>Current enrolled <strong>1766</strong></p>
                  <span>39 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item emerald">
            <a href="#">
              <div class="item-box">
                <div class="icon">
                  <i class="flaticon-paint-palette"></i>
                </div>
                <div class="info">
                  <h5>Art & Design</h5>
                  <p>Current enrolled <strong>4355</strong></p>
                  <span>36 Courses</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="event-area default-padding" style="margin-top: -150px">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Actualités</h2>
          <p>
            Discourse assurance estimable applauded to so. Him everything
            melancholy uncommonly but solicitude inhabiting projection off.
            Connection stimulated estimating excellence an to impression.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="event-items">
          {% for a in actualites %}
          <div class="item">
            <div
              class="col-md-5 thumb"
              style="background-image: url('/static/assets/img/800x600.png')"
            >
              <img src="{{ a.image.url }}" />
            </div>
            <div class="col-md-7 info">
              <div class="info-box">
                <div class="date"><strong>16</strong> Apr, 2020</div>
                <div class="content">
                  <h4>
                    <a href="#">{{ a.title }}</a>
                  </h4>
                  <ul>
                    <li><i class="fas fa-clock"></i> 8:00 - 16:00</li>
                    <li>
                      <i class="fas fa-map-marked-alt"></i> California, TX 70240
                    </li>
                  </ul>
                  <p>{{ a.intro }}</p>
                  <div class="bottom">
                    <a href="#" class="btn circle btn-dark border btn-sm">
                      <i class="fas fa-chart-bar"></i> Book Now
                    </a>
                    <a href="#">
                      <i class="fas fa-ticket-alt"></i> 126 Available
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="more-btn col-md-12 text-center">
        <a href="#" class="btn btn-theme effect btn-md">View All Events</a>
      </div>
    </div>
  </div>
</div>

-->

<!-- Start Newsletter 
  ============================================= -->
{% include 'include/newsletter.html' %}
<!-- End Newsletter -->

{% endblock %}
